Ignore/
*.pptx
*.ppt
*.odt
BSR/
*.tgz
*solution*
solution/
_data/
*.pyc
.ipynb*
*.zip
blood-cells/
*.jpg
*.JPEG
LabPython/
Resized/
*.tar.gz
*.tar
05-Textons/python/cifar-10-patches-py/
*.txt
dddd.py
readdata.py
